<div style="overflow:auto;min-height:90vh;">
<table class="table" style="background-color: ghostwhite">
  <thead>
    <tr>
      <th scope="col">Nazwa</th>
      <th scope="col">Data</th>
      <th scope="col">Zespół</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <tr *ngFor="let c of concerts">
      <td>{{c.name}}</td>
      <td>{{c.date | date:'yyyy-MM-dd HH:mm'}}</td>
      <td>{{c.bandName}}</td>
      <td>{{c.price | currency}}</td>
      <td *ngIf="this.isLoggedIn"><a [routerLink]="[ '/buy', c.id, c.price ]"><button type="submit" class="btn btn-primary" (click)="buyTicket()">Buy Ticket</button></a></td>
    </tr>
  </tbody>
</table>
</div>
