<div style="overflow:auto;min-height:90vh;">
  <button class="btn btn-success" (click) = "exportToExcel()">Export do excela</button>
<table class="table" style="background-color: ghostwhite">
  <thead>
    <tr>
      <th scope="col">Nazwa</th>
      <th scope="col">Data</th>
      <th scope="col">Zespół</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <tr>
      <td>Metallica tour 2019</td>
      <td>17-01-2019</td>
      <td>Metallica</td>
      <td>{{89.99 | currency}}</td>
      <td><button type="submit" class="btn btn-primary" (click)="buyTicket()">Kup Bilet</button></td>
    </tr>
  </tbody>
</table>
</div>
