<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style = "width:100%">
      <li class="nav-item active">
        <a style = "font-size: 22px; color:white" href="#">Hala koncertowa <span class="sr-only"></span></a>
      </li>
      <li class="nav-item" routerLinkActive="router-link-active">
          <a class="nav-link" [routerLink]="['/concerts']">Koncerty</a>
      </li>
      <li class="nav-item " routerLinkActive="router-link-active"> 
          <a class="nav-link" [routerLink]="['/adding']">Dodaj koncert</a>
      </li>
      <li class="nav-item dropdown log-in"  routerLink="auth/login">
        <a *ngIf ="isLoggedIn === false" class="nav-link " style="cursor:pointer">
          Zaloguj
        </a>
        <a  *ngIf= "isLoggedIn" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{username}}
        </a>
        <div class="dropdown-menu" style="min-width:8em" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click) = "logout()" href="#">Wyloguj</a>
        </div>
      </li>
    </ul>

  </div>
</nav>
<div class="background-image" style="display:block;overflow:auto">
  <router-outlet></router-outlet>
</div>


